.sebm-google-map-container {
    width: 100%; 
    height: 80%; 
    opacity: 0; 
    transition: opacity 150ms ease-in;      
}

.no-padding {
    padding: 0px !important;
}

/*
.mapa21 {
    width: 90%;
   
    height: 40%;
    opacity: 0;
    transition: opacity 150ms ease-in;
}
.mapa22 {
    width: 100%;
   
    height: 35%;
    opacity: 0;
    transition: opacity 150ms ease-in;
}

.no-padding {
    padding: 10px !important;
}


.sebm-google-map-container-inner{
    margin-left: auto;
    margin-right: auto;
}*/