<!--
  Generated template for the Captura page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header color="principal-allianz">

  <ion-navbar color="principal-allianz"*ngIf="isBrowser">
    <ion-title>Domicilio</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

      <ion-item>
        <ion-label floating>Código Postal:</ion-label>
        <ion-input type="text" [(ngModel)]="codigoPostal" (keyup)="onKeyPress($event)" maxlength="5" (blur)="blurCodigoPostal()"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Calle:</ion-label>
        <ion-input type="text" [(ngModel)]="nombreCalle" (blur)="blurNombreCalle()"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Número Exterior:</ion-label>
        <ion-input type="text" [(ngModel)]="numeroCalle" (blur)="blurNumeroCalle()"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Número Interior:</ion-label>
        <ion-input type="text" [(ngModel)]="numeroInterior" (blur)="blurNumeroInterior()"></ion-input>
      </ion-item>

       <ion-item>

        <ion-label stacked>Colonia</ion-label>
        <ion-select [(ngModel)]="codigoAsentamiento" (ionChange)="changeColonia()">
          <ion-option *ngFor="let asentamiento of asentamientos" value="{{asentamiento.idAsentamientoCP}}">{{asentamiento.asentamiento}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>

        <ion-label stacked>Delegación o Municipio</ion-label>
        <ion-select [(ngModel)]="codigoMunicipio" (ionChange)="changeDelegacionMunicipio()">
            <ion-option *ngFor="let municipio of municipiosCiudades" value="{{municipio.codigoMunicipio}}">{{municipio.municipio}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>

      <ion-label stacked>Ciudad</ion-label>
        <ion-select [(ngModel)]="codigoCiudad" (ionChange)="changeCiudad()">
          <ion-option *ngFor="let ciudad of ciudades" value="{{ciudad.ciudad}}">{{ciudad.ciudad}}</ion-option>
        </ion-select>
      </ion-item>

     <ion-item>

        <ion-label stacked>Estado</ion-label>
        <ion-select [(ngModel)]="codigoEstado" (ionChange)="changeEstado()">
          <ion-option *ngFor="let estado of estados" value="{{estado.codigoEstado}}" >{{estado.descripcion}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-fab right bottom>
        <button color="accent-allianz" ion-fab (click)="siguientePagina()" [disabled]="disableButton === 'true'">
                <ion-icon name="md-arrow-forward"></ion-icon>
            </button>
    </ion-fab>

</ion-content>


