<ion-tabs tabsPlacement="top" selectedIndex="0" color="principal-allianz">
  <ion-tab [root]="mapaRoot" tabTitle="Mapa" tabIcon="map" (ionSelect)="mapaPageSelected()" ></ion-tab>
  <ion-tab [root]="capturaRoot" tabTitle="Captura" tabIcon="list" (ionSelect)="capturaPageSelected()" ></ion-tab>
</ion-tabs>
