<!--
  Generated template for the Mapa page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header color="principal-allianz">

  <ion-navbar color="principal-allianz" *ngIf="isBrowser">
    <ion-title>Domicilio</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


<div class="cuadroMap">
    
     
<input  style="width: 80% ;margin-left: 0px; padding-left:30px;" type="text" id="autocomplete" placeholder="Ingrese su domicilio"  [(ngModel)]="autocompleteInputValue" clearInput data-tap-disabled="true" (blur)="blurAutocompleteInput(autocompleteInputValue)" class="controls">
</div>

  <div #map id="map" ></div> 

</ion-content>

